body {
  background-color: black;
}

@font-face {
	font-family: arcadePixelated;
	src: url(./arcade-pixelated.ttf);
}

@font-face {
	font-family: pacStylized;
	src: url(./pac-stylized.ttf);
}

canvas {
  margin-top: 55px;
  margin-left: 200px;
  margin-bottom: 50px;
}

.canvas{
	opacity: 1;
}

.menu-layer {
	z-index: 7;
	position: absolute;
	margin-top: 55px;
	margin-left: 320px;
	width: 442px;
	height: 622px;
	font-family: arcadePixelated;
	color: white;
	font-size: 12;
	/*visibility: hidden;*/
}

.in-game-options-to-menu {
	
	left: -60;
	position: relative;
	display: block;
	vertical-align: middle;
	z-index: 9;
	top: -40px;
	margin: auto;
	text-align: center;
	vertical-align: middle;
	font-size: 10;
	display: none;

}

.in-game-options-to-menu .menu-option {
	width: 200px;
	height: 30px;
	color: white;
}

.in-game-options-loss {
	left: -60;
	position: relative;
	display: block;
	vertical-align: middle;
	z-index: 8;
	top: 150px;
	margin: auto;
	text-align: center;
	vertical-align: middle;
	font-size: 15;
	display: none;
}

.in-game-options-loss .menu-option {
	margin-top: 20px;
	margin-bottom: 0px;
}

.in-game-options-win {
	left: -60;
	position: relative;
	display: block;
	vertical-align: middle;
	z-index: 9;
	top: 150px;
	margin: auto;
	text-align: center;
	vertical-align: middle;
	font-size: 15;
	display: none;
}

.in-game-options-win span:nth-child(1) {
	font-size: 25;
	color: yellow;
}

.in-game-options-win .menu-option {
	margin-top: 20px;
	margin-bottom: 0px;
}

.in-game-options-win .menu-option span {
	font-size: 15;
	color: white;
}

.menu-option {
	width: 200px;
	height: 50px;
	margin: auto;
	margin-bottom: 10px;
	border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    overflow: hidden;
    border: 2px solid grey;
    color: grey;
}

.menu-option:hover{
    border: 2px solid white;
    color: white;
}

span {
  position: relative;
  top: 30%;

}

.start-screen-options {
	position: relative;
	display: block;
	vertical-align: middle;
	z-index: 7;
	margin: auto;
	text-align: center;
	vertical-align: middle;
	font-size: 15;
	height: 470px;

}

.menu-layer canvas {
	margin-top: 0px;
  	margin-left: 0px;
  	margin-bottom: 0px;
}

#menu-banner {
	font-family: pacStylized;
	font-size: 50px;
	color: yellow;
	height: 200px;
}

.start-screen-options .menu-option {
	width: 400px;
}

#score-layer {
	margin-top: 5px;
	margin-left: 200px;
}

.about {
	position: relative;
	display: block;
	vertical-align: middle;
	z-index: 9;
	top: 150px;
	margin: auto;
	text-align: center;
	vertical-align: middle;
	font-size: 15;
	display: none;
}

.levels {
	position: relative;
	display: block;
	vertical-align: middle;
	z-index: 10;
	margin: auto;
	text-align: center;
	font-size: 15;
	display: none;
}

.levels .menu-option {
	width: 300px;
}



